# Ignore Gradle project-specific cache directory
.gradle

# Ignore some gradle config, for different computer configs
.idea/gradle.xml

# Ignore Gradle build output directory
build

# Ignore Kotlin plugin data
.kotlin
